.CreateOrderPage-new-order {
  // font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-right: 18px;
}

.CreateOrderPage-title-3 {
  font-size: 20px;
  line-height: 27.24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.item-width-200 {
  width: 200px;
}
