h5 {
  font-weight: 800;
}
.copy-to-all-p {
  margin: 0px;
  margin-top: 10px;
  margin-right: 5px;
}

.ShowGreetingsStep-left-side {
  width: 300px;
}
.ShowGreetingsStep-right-side {
  flex: 1;
}

label {
  padding: 0px;
}