.dashboard-layout-header {
  left: 0px !important;
  background-color: rgb(255, 255, 255);
}
.dashboard-layout-title {
  padding: 10px;
  .row {
    align-items: center;
  }

  p {
    color: #eb3658;
    font-weight: 800;
    font-family: cursive;
    margin: 0px;
    margin-right: 10px;
  }
}
.dashboard-layout-right-info {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dashboard-user-info {
  color: #3c5ce0;
}

.dashboard-happypurim-logo {
  cursor: pointer;
}

.dashboard-search-icon-mobile {
  color: black;
  font-size: 30px;
}

.dashboard-layout-title-mobile {
  display: flex;
  justify-content: center;
}
