.dashboard-layout-header {
  left: 0px !important;
  // background-color: rgb(255, 255, 255);
  background-color: var(--header-bg);
}
.dashboard-layout-title {
  // padding: 10px;
  .row {
    align-items: center;
  }

  p {
    color: var(--happypurim);
    font-weight: 800;
    font-family: cursive;
    margin: 0px;
    margin-left: 5px;
  }
}
.dashboard-layout-right-info {
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.dashboard-happypurim-logo {
  cursor: pointer;
}

.dashboard-search-icon-mobile {
  // color: black;
  color: var(--happypurim);
  font-size: 30px;
}

.dashboard-layout-title-mobile {
  display: flex;
  justify-content: center;
}

.search-mobile-container {
  padding: 5px;
  color: black;
  width: 100%;
  .col-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.sub-title-navbar {
  color: #919191;
  margin-top: -11px;
  font-size: 15px;
}
