.AdditionalOrderingOptions-additional-profile {
  background-color: white;
  overflow: auto;
}

.AdditionalOrderingOptions-additional-profile-desc-row {
  position: sticky;
  z-index: 2;
  top: -8px;
  background-color: white;
}
