.user-client-title {
  // font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.DashboardPage-right-container {
  padding: 7px;
}
.DashboardPage-left-container {
  // padding: 7px;
}

.DashboardPage-members-stats-container {
  border: solid 1px #dedede;
  border-radius: 5px;
  overflow: auto;
  width: 98%;
  padding: 5px;
  height: 100%;
  overflow: auto;
}
.DashboardPage-members-stats-container-2 {
  display: flex;
  align-items: center;
}

.DashboardPage-recent-orders-table {
  border: solid 1px #dedede;
  // height: 400px;
  border-radius: 5px;
  overflow: auto;
  
}

.DashboardPage-basket-statistics-container {
  border: solid 1px #dedede;
  border-radius: 5px;
  overflow: auto;
  padding: 20px;
}
