.DashboardPageInfoComponent-number {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  p {
    // font-family: Poppins;
    font-size: 20px;
    font-weight: 800;
    line-height: 20px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

b {
  //styleName: xs/Semibold;
  // font-family: Poppins;
  font-size: 20px;
  font-weight: 800;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
