// .dashboard-layout-header {
//   left: 0px !important;
//   background-color: rgb(255, 255, 255);
// }
// .dashboard-layout-title {
//   padding: 10px;
//   .row {
//     align-items: center;
//   }

//   p {
//     color: #eb3658;
//     font-weight: 800;
//     font-family: cursive;
//     margin: 0px;
//     margin-right: 10px;
//   }
// }
// .dashboard-layout-right-info {
//   color: black;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-end;
// }

// .dashboard-user-info {
//   color: #3c5ce0;
// }

// .dashboard-happypurim-logo {
//   cursor: pointer;
// }

.dashboard-page-container {
  padding-left: 230px !important;
}

.dashboard-breadcrumbs-container {
  position: fixed;
  padding: 8px;
  padding-bottom: 3px;
  z-index: 99;
  background-color: white;
  box-shadow: 0 5px 5px -3px rgb(203 192 192);
  width: calc(100% - 234px);
  top: 50px;
  right: 0px;
}

.dashboard-router-view {
  padding: 10px;
  overflow: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  // height: calc(100vh - 180px);
  // padding-bottom: 30px;
  // margin-bottom: 100px;
}

.dashboard-layout-container {
  overflow: hidden;
}
