.PreviewEmail-preview-container {
  background-color: var(--header-str-bg);
  border-radius: 10px;
  box-shadow: 0px 0px 9px 5px gray;
  min-height: 600px;
}
.PreviewEmail-counter {
  margin: 0px;
  margin-left: 12px;
  margin-right: 12px;
  display: flex;
  align-items: flex-end;
}
