:deep(.MailMergePage-stepper) {
  box-shadow: none;

  .q-stepper__header--border {
    border-bottom: none;
  }
  .q-stepper__step-inner {
    display: none;
  }
  .q-stepper__tab {
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.ComposeEmail-tokens-container {
  border: solid 1px #e3e3e3;
  border-radius: 5px;
}

.ComposeEmail-token-item {
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-bottom: 2px;
  // padding: 5px;
  min-height: 20px;
}

.token-items-container {
  height: 740px;
  overflow: auto;
}

.merged-field-loading {
  position: relative;
  width: 100%;
  height: 100%;
}

:deep(.unique-toggle) {
  .q-toggle__thumb:after {
    background-color: var(--happypurim);
  }
}
