.EditorCustom-file-container {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: black 4px 4px 3px -2px;
  border: solid 1px black;
  position: relative;
  display: flex;
  flex-direction: column;

  .EditorCustom-img-container {
    display: flex;
    flex: 1;
    background-size: cover;
    background-position: center;
  }
  button {
    width: 100%;
  }
}

:hover.EditorCustom-file-container {
  border: solid 8px green;
}

.EditorCustom-file-selected {
  border: solid 8px $happypurim;
}

.clear-btn {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 2px;
  font-size: 10px;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: transparent;
  color: $happypurim;
}
