:deep(.ExpanCustom-exp-container) {
  background-color: var(--row-tb-bg);
  border-radius: 5px;
  position: relative;
  border: solid 1px #e3e3e3;
  padding: 5px;

  .q-expansion-item__toggle-icon {
    display: none;
  }
}

:deep(.ExpanCustom-check-box-activation) {
  position: absolute;
  right: 0px;
  top: 5px;
  z-index: 1;
}

.ExpanCustom {
  position: relative;
}
