.member-stats-card {
  border: solid 1px var(--happypurim);
}

.member-stats-container {
  width: 100%;
  max-height: 50vh;
  overflow-y: auto;
}

.member-stats-card {
  height: 100px;
  border: solid 1px rgb(141, 140, 140);
  border-radius: 10px;
  box-shadow: 0px 0px 4px 1px var(--happypurim);
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: var(--happypurim);
}

.member-stat-title {
  width: 100%;
  justify-content: center;
}

.member-stat-value {
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
}

.bg-color {
  // background-color: #00000069;
  color: white;
}

.member-stats-dialog-header {
  height: 72px;
  background: var(--happypurim);
  color: var(--happypurim);
  padding: 20px;
  p {
    // font-family: Open Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.005em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
