.WidgetChart-container {
  // min-height: 258px;
  height: 100%;
  border: solid 1px #dedede;
  border-radius: 5px;
  overflow: auto;
  width: 100%;
  overflow: auto;
  // background-color: white;
  background-color: var(--box-bg);
}

.WidgetChart-first-row {
  align-items: center;
  justify-content: space-between;
  p {
    margin: 0px;
    font-weight: 500;
  }
}

.WidgetChart-earned {
  font-size: 14px;
  font-weight: 600;
}
.WidgetChart-description {
  font-size: 10px;
  color: rgb(193, 188, 188);
}

.WidgetChart-graph {
  height: 80px;
}

p {
  margin: 0px;
}
