// app global css in SCSS form
@import './table-styles.scss';
@import './font-sizes.scss';
@import './chart-styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Arial:wght@400&family=Comic+Sans+MS:wght@400&family=Courier+New:wght@400&family=Times+New+Roman:wght@400&family=Verdana:wght@400&display=swap');

// .q-loading {
//   background-color: #ffffff !important;
// }

// h
// html,
// body,
// #q-app {
//   padding-top: env(safe-area-inset-top);
//   box-sizing: border-box;
// }

.regular-number-input {
  /* Chrome, Edge, Safari */
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

:where(h1, h2, h3, h4, h5, h6) {
  margin: 0px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 18px;
  background-color: var(--happypurim-light);
}
::-webkit-scrollbar-thumb {
  background: var(--happypurim);
  border-radius: 18px;
  border: solid 1px black;
  cursor: pointer;
}

.user-select-none {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* default */
}

// re check this is the content is hid

hr {
  height: 1px;
  background-color: #e3e3e3;
  border-radius: 10px;
}

.align-content-center {
  display: flex;
  justify-content: center;
}

.dropdown-selected-in-route {
  background-color: var(--happypurim-light);
}

.q-spinner-mat {
  color: var(--happypurim);
}
.align-items-center {
  display: flex;
  align-items: center;
}

/**========================================================================
 *                           form components
 *========================================================================**/

.q-input {
  .q-field__control {
    height: 42px;
  }
  input {
    padding-top: 11px;
  }
  .q-field__label {
    top: 12px;
  }
  .q-field__append,
  .q-field__before,
  .q-field__after,
  .q-field__prepend {
    justify-content: center;
    height: 100%;
  }
  i {
    font-size: 22px;
  }
  .q-field__bottom {
    padding: 3px;
  }
  .q-field__control-container {
    padding-bottom: 5px;
  }
  .q-field__prefix {
    padding-top: 14px;
  }
  .q-field__suffix {
    padding-top: 14px;
  }
  .q-field--labeled {
    padding-top: 24px;
  }
  .q-field__native {
    padding-top: 23px;
  }
}

.q-btn {
  color: var(--happypurim);
}

.separator-right {
  height: 100%;
  border-right: solid 2px #e3e3e3;
}
.separator-bottom {
  width: 100%;
  border-bottom: solid 2px #e3e3e3;
}

.q-select {
  // height: 42px !important;
  .q-field__inner {
    height: 100%;
  }
  .q-field__control {
    // height: 42px;
    min-height: 42px;
  }
  .q-field__label {
    top: 12px;
  }
  .q-field__bottom--animated {
    bottom: 5px;
  }

  .q-field__append,
  .q-field__before,
  .q-field__after,
  .q-field__prepend {
    justify-content: center;
    height: 100%;
    margin-top: 10px;
  }
  i {
    font-size: 22px;
  }
  .q-field__bottom {
    padding: 8px;
  }
}
/*============================ END OF SECTION ============================*/

.border-container {
  border: solid 1px #e3e3e3;
  border-radius: 5px;
  padding: 10px;
}

.cancel-save-btn-container {
  padding: 10px;
  background-color: var(--row-tb-bg);
  border-radius: 5px;
  .col-12 {
    display: flex;
    justify-content: center;
  }
}

.dialog-header {
  height: 72px;
  background: var(--happypurim);
  color: white;
  padding: 20px;
  p {
    // font-family: Open Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.005em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.align-items-center-custom {
  display: flex;
  align-items: center;
}

.top-title-col {
  min-height: 48px;
  border-bottom: solid 2px #e3e3e3;
  padding: 5px;
  display: flex;
  align-items: center;
  p {
    margin-bottom: 0px;
  }
}
.q-field--auto-height.q-field--labeled .q-field__control-container {
  padding-top: 18px;
}

.q-checkbox__inner--truthy .q-checkbox__bg,
.q-checkbox__inner--indet .q-checkbox__bg {
  border: solid 1px black;
}

.white-100-container {
  height: 100%;
  width: 100%;
  // background-color: white;
  background-color: var(--box-bg);
}
.page-main-title {
  // font-family: Open Sans;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-right: 18px;
}

.EditorCustom-token {
  border: solid 1px black;
  border-radius: 5px;
  background-color: var(--happypurim);
  color: white;
}

.justify-content-end {
  display: flex;
  justify-content: flex-end;
}
.justify-content-center {
  display: flex;
  justify-content: center;
}

// .cm-content {
//   width: 20px !important;
//   overflow: auto !important;
// }

.cm-editor {
  width: 100% !important;
  overflow: auto;
}

.justify-content-space-between {
  display: flex;
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}

.a-full {
  width: 100%;
  height: 100%;
}

.w-50 {
  width: 50%;
}
.h-50 {
  height: 50%;
}

.a-50 {
  width: 50%;
  height: 50%;
}

.q-item-bordered {
  border: solid 1px #e2e2e2;
  border-radius: 10px;
}
.q-item-bordered-dotted {
  border: 1px dotted #e2e2e2;
  border-radius: 10px;
}

.q-item-bordered-dashed {
  border: 1px dashed #e2e2e2;
  border-radius: 10px;
}

.custom-dialog-header-container {
  box-shadow: 0px 0px 10px 0px black !important;
  position: sticky;
  top: 0;
  z-index: 9;
}
.custom-dialog-body-container {
  overflow: auto;
  max-height: 500px;
}
.custom-dialog-footer-container {
  box-shadow: 0px 1px 8px -3px black !important;
  position: sticky;
  bottom: 0;
  z-index: 9;
  // background-color: white;
  background-color: var(--box-bg);
}

.white-container,
.table-white-container {
  // background-color: white;
  background-color: var(--box-bg);
  overflow: auto;
}

.html-display-container {
  width: 100%;
}

.html-display-container {
  width: 100% !important;
  overflow-wrap: break-word !important;
  box-sizing: border-box !important;
}

.html-display-container img {
  max-width: 100% !important;
}

.html-display-container table {
  max-width: 100% !important;
}

// .html-display-container div {
//   width: 100% !important;
// }

@media (min-width: 600px) {
  .q-dialog__inner--minimized > div {
    max-width: 1000px !important;
  }
}

.month-year-picker .q-date__calendar-weekdays {
  display: none !important;
}

.month-year-picker .q-date__calendar-days {
  display: none !important;
}

.mini-text {
  margin-bottom: 0;
  font-size: 11px;
  font-weight: 600;
  color: #878787;
  display: block;
}

.loading-btn .q-spinner-mat {
  color: white;
}

.hp-logo {
  color: var(--happypurim);
  font-weight: 800;
  font-family: cursive;
  margin: 0px;
  margin-right: 10px;
}

.item-width-300 {
  width: 300px;
}

.search-select-container {
  i {
    display: none !important;
  }
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-overflow-ellipsis {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.text-overflow-ellipsis-btn {
  span {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }
}

.q-menu-300 {
  max-height: 300px !important;
}

.margin-none {
  margin: 0px !important;
}

.dashboard-user-info {
  color: #3c5ce0;
}

.pos-input {
  input {
    padding-bottom: 0px;
    padding-left: 10px;
  }
}
.q-editor {
  .editable-div {
    resize: both;
    overflow: hidden;
    border: 1px dashed #888;
    // display: inline-block;
  }
}
.q-editor__content {
  .editable-div {
    resize: both;
    overflow: hidden;
    border: 1px dashed #888;
    // display: inline-block;
  }
}

.MailMergePage-q-editor {
  .q-editor--default {
    height: 100% !important;
  }
}

//font style
html,
body {
  font-family: 'Open Sans', sans-serif;
}
// body {
//   overflow-y: hidden;
// }

.StepsCreateOrder-bordered {
  border: solid 1px #e7e7e7;
  border-bottom: solid 4px var(--happypurim);
}

.checkbox-member-container {
  .q-checkbox__label {
    width: 100%;
    display: flex;
  }
}

.q-checkbox.disabled[role='checkbox'] {
  .q-checkbox__svg {
    background-color: #d3d3d3;
  }
}

.q-table__top {
  padding-left: 0px;
}

.q-btn-non-mr {
  i {
    margin-right: 4px;
  }
}

// .fullscreen{
//   background-color: white;
// }fullscreen

.profile-question-check-box {
  .q-checkbox__label {
    width: 300px;
  }
  .q-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .q-checkbox__bg {
    top: 3px !important;
    left: 5px !important;
    width: 20px;
    height: 20px;
  }
  .q-checkbox__inner {
    width: 30px;
    min-width: 30px;
    height: 30px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

canvas {
  background-color: var(--box-bg);
}

.msg-error {
  color: var(--q-negative);
  font-size: 12px;
}

.dnt-show-error {
  .q-field__bottom {
    display: none;
  }
}

.dialog-class {
  > :nth-child(1) {
    height: 72px;
    background: var(--happypurim);
    color: white;
    padding: 20px;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.005em;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    box-shadow: 0px 0px 10px 0px black !important;
    margin-bottom: 20px;
  }

  // > :nth-child(2) {
  // }

  > :nth-child(3) {
    box-shadow: 0px 1px 8px -3px black !important;
    > :nth-child(1) {
      border: 1px solid var(--q-negative);
      color: var(--q-negative) !important;
    }
    > :nth-child(2) {
      background-color: var(--happypurim);
      color: white !important;
    }
  }
}

.bg-main-color-white {
  background-color: var(--happypurim);
  color: white;
  font-size: 16px;
}
