.table-sticky-header-column-table {
  /* height or max-height is important */

  /* specifying max-width so the example can
    highlight the sticky column on any browser window */

  tr th {
    position: sticky;
    /* higher than z-index for td below */
    z-index: 2;
    /* bg color is important; just specify one */
    background: var(--happypurim);
    color: white;
  }

  /* this will be the loading indicator */
  thead tr:last-child th {
    /* height of all previous header rows */
    top: 48px;
    /* highest z-index */
    z-index: 2;
  }

  thead tr:first-child th {
    top: 0;
    z-index: 2;
  }

  tr:first-child th:first-child {
    /* highest z-index */
    z-index: 2;
  }

  td:first-child {
    z-index: 1;
  }

  // td:first-child,
  // th:first-child {
  //   position: sticky;
  //   left: 0;
  // }

  /* prevent scrolling behind sticky top row on focus */
  tbody {
    /* height of all previous header rows */
    scroll-margin-top: 48px;
  }

  overflow: auto;
  border: none;
}

.table-cursor-pointer-custom {
  tr {
    cursor: pointer;
  }
}
tr:hover {
  background-color: var(--happypurim-light);
}

.sticky-1-column-table {
  cursor: pointer;
  td:first-child {
    /* bg color is important for td; just specify one */
    background-color: var(--row-tb-bg);
    z-index: 1;
    position: sticky;
    left: 0;
  }

  tr th {
    position: sticky;
    /* higher than z-index for td below */
    z-index: 2;
    /* bg color is important; just specify one */
  }

  thead tr:first-child th {
    top: 0;
    z-index: 2;
  }

  tr:first-child th:first-child {
    /* highest z-index */
    z-index: 3;
  }

  th:first-child {
    position: sticky;
    left: 0;
  }
}

.sticky-2-column-table-copy {
  cursor: pointer;
  td:first-child {
    /* bg color is important for td; just specify one */
    background-color: var(--row-tb-bg);
    z-index: 1;
    position: sticky;
    left: 0;
  }
  td:nth-child(2) {
    /* bg color is important for td; just specify one */
    background-color: var(--row-tb-bg);
    z-index: 1;
    position: sticky;
    left: 87.43px;
  }

  tr th {
    position: sticky;
    /* higher than z-index for td below */
    z-index: 2;
    /* bg color is important; just specify one */
  }

  thead tr:first-child th {
    top: 0;
    z-index: 2;
  }

  thead tr:nth-child(2) th {
    top: 48px;
    z-index: 4;
  }

  tr:first-child th:first-child {
    /* highest z-index */
    z-index: 3;
  }

  tr:first-child th:nth-child(2) {
    /* highest z-index */
    z-index: 3;
  }

  th:first-child {
    position: sticky;
    left: 0;
  }

  th:nth-child(2) {
    position: sticky;
    left: 87.43px;
    z-index: 10;
  }
}
.sticky-2-column-table {
  cursor: pointer;
  td:first-child {
    /* bg color is important for td; just specify one */
    background-color: var(--row-tb-bg);
    z-index: 1;
    position: sticky;
    left: 0;
  }
  td:nth-child(2) {
    /* bg color is important for td; just specify one */
    background-color: var(--row-tb-bg);
    z-index: 1;
    position: sticky;
    left: 100px;
  }

  tr th {
    position: sticky;
    /* higher than z-index for td below */
    z-index: 2;
    /* bg color is important; just specify one */
  }

  thead tr:first-child th {
    top: 0;
    z-index: 2;
  }

  thead tr:nth-child(2) th {
    top: 48px;
    z-index: 4;
  }

  tr:first-child th:first-child {
    /* highest z-index */
    z-index: 3;
  }

  tr:first-child th:nth-child(2) {
    /* highest z-index */
    z-index: 3;
  }

  th:first-child {
    position: sticky;
    left: 0;
  }

  th:nth-child(2) {
    position: sticky;
    left: 100px;
    z-index: 10;
  }
}
.sticky-2-1-column-table {
  cursor: pointer;
  td:first-child {
    /* bg color is important for td; just specify one */
    background-color: var(--row-tb-bg);
    z-index: 1;
    position: sticky;
    left: 0;
    width: 100px !important;
  }
  td:nth-child(2) {
    /* bg color is important for td; just specify one */
    background-color: var(--row-tb-bg);
    z-index: 1;
    position: sticky;
    left: 108.46px;
  }

  tr th {
    position: sticky;
    /* higher than z-index for td below */
    z-index: 2;
    /* bg color is important; just specify one */
  }

  thead tr:first-child th {
    top: 0;
    z-index: 2;
    width: 100px !important;
  }

  thead tr:nth-child(2) th {
    top: 48px;
    z-index: 4;
  }

  tr:first-child th:first-child {
    /* highest z-index */
    z-index: 3;
  }

  tr:first-child th:nth-child(2) {
    /* highest z-index */
    z-index: 3;
  }

  th:first-child {
    position: sticky;
    left: 0;
  }

  th:nth-child(2) {
    position: sticky;
    left: 108.46px;
    z-index: 10;
  }
}

thead {
  tr {
    background-color: var(--happypurim);
  }
}

td {
  a {
    padding: 0px !important;
    span {
      justify-content: left !important;
      text-transform: none !important;
    }
  }
}

.q-table__top {
  padding: 0px;
}
