.InfoAlert-container-row {
  display: flex;

  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 4px;
  border-radius: 5px;
}

i {
  font-size: 20px;
  cursor: pointer;
}

.InfoAlert-container-left {
  display: flex;
  flex-direction: row;
}

p {
  margin: 0px;
  margin-left: 10px;
}

:deep(.InfoAlert-p) {
  p {
    margin: 0px;
  }
}
