.CartItems-headers {
  background-color: var(--row-tb-bg);
}

.CartItems-text {
  font-size: 11px;
}

.CartItems-container {
  max-height: 450px;
  overflow: auto;
}

.CartItems-icon {
  cursor: pointer;
}

.cart-item-color {
  color: #1863b0;
}
